.filter_content, .add_note_content {
  display: flex;
  flex-direction: row;
  height: 2em;
}

.one_note {
  display: flex;
  flex-direction: row;
}

.one_note_finished, .one_note_edit {
  box-sizing: border-box;
  width: 10%;
}

.one_note_finished {
  border: none;
}
.one_note_description {
  width: 80%;
}


.create_new_note {
  background: yellow;
  text-align: center;
  box-sizing: border-box;
  width: 20%;
}
.select_style {
  background: limegreen;
  text-align: center;
  box-sizing: border-box;
  width: 20%;
}


.filter_finish_date {
  background: cyan;
  text-align: center;
  box-sizing: border-box;
  width: 20%;
}
.filter_created_date {
  background: limegreen;
  text-align: center;
  box-sizing: border-box;
  width: 20%;
}
.filter_priority {
  background: darkcyan;
  text-align: center;
  box-sizing: border-box;
  width: 20%;
}
.unvisible_boxelement_20_percent {
  width: 20%;
}
.unvisible_boxelement_60_percent {
  width: 60%;
}
.filter_finished {
  background: greenyellow;
  text-align: center;
  box-sizing: border-box;
  width: 20%;
  float: right;
}
