/* DatePicker CSS */
@import "datepicker/datepicker.css" screen;
@import "datepicker/datepicker.date.css" screen;

/* style dependent colors / logo */

/* text colors */
.note h1, .note-info .fa-bolt.prio-active, .filters .button.active {
    color: #C20000;
}

/* background colors */
.header, .filters .button.active {
    background-color: #FF833E;
}

.picker__day--highlighted, .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected  {
    background-color: #C20000;
}
.picker__day--infocus:hover, .picker__day--outfocus:hover, option {
    background-color: #FFE0C8;
}

/* bordercolors */
.note-body:hover, .picker__day--highlighted {
    border-color: #FF833E;
}

/* logo */
#logo-notes {
    background-image:url(../img/logo_notes_rp.png);
    background-size: 136px 44px;
    background-repeat: no-repeat;
    background-position: 8px 8px;
}


/* Grundlayout */
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    color: #777;
}

p, h1, h2, h3 {
    margin-top: 0.5em;
}

header,
main,
aside,
footer {
    display: block; /* ältere Browser */
}

.header {
    height: 60px;
    margin-bottom: 0.5em;
}
.header h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
    color: #fff;
    display: block;
    margin: 0 0 0 0.5em;
    padding: 1em 0 0 0;
}

.note h1 {
    font-size: 1.2em;
    display: block;
    margin: 0;
    padding: 0.2em 0 0 0;
}

.filters {
    background-color: #efefef;
    padding-bottom: 0.2em;
    /* height: 45px; */
}
.filters-content {
    box-sizing: border-box;
    padding: 0 0 0 0.6em;
    width: 100%;
    float: left;
}
.filters-content p {
    color: #555;
    font-size: 1.2em;
    margin: 0.5em 0 0 0.5em;
}
.filters-aside {
    box-sizing: border-box;
    width: 100%;
    min-width: 0px;
    float: right;
}

header .row:nth-child(2) {
    padding: 0.5em 0 1em 0;
}
header .row:nth-child(3) {
    padding: 0.5em 0;
}
header img, header svg {
    width: 136px; /* 147px; */
    height: 44px; /* 48px; */
    margin: 8px;
}

.header .logo {
    float: left;
    width: 60%;
}

.header .icons {
    float: right;
    width: 38%;
    min-width: 0px;
}

.header .icons .fa-pencil-square-o, .header .icons .fa-sort-alpha-asc, .header .icons .fa-cog {
    color: #fff;
    font-size: 2.2em;
    padding: 0.4em 0 0 0.2em;
    float: right;
    cursor: pointer;
}

#ic-label {
    color: #fff;
    font-size: 1.4em;
    padding: 0.8em 0.8em 0 0;
    float: right;
    display: none;
}

#label-style {
    display: none;
}

.content {
    background-color: #fff;
}

.date, .editor-label {
    background-color: #fff;
    box-sizing: border-box;
    padding: 1em;
    width: 40%;
}
.date p:first-child {
    font-weight: 600;
}
.date .finished-date {
    margin-left:1em;
}
.date .urgent, .delete {
    color: orangered;
}
.note, .editor-field {
    background-color: #fff;
    box-sizing: border-box;
    padding: 1em;
    margin: 0.2em 0;
    width: 80%;
}

.editor-field {
    width: 98%;
}

.note-body {
    margin: 0.4em  0;
    border: 2px solid #efefef;
}

.note-body:first-child {
    margin-top: 0.4em;
}
.note-body:last-child {
    margin-bottom: 0.4em;
}

.edit-body {
    margin: 0;
    border: 1px solid #efefef;
    border-bottom: none;
}
.edit-body:last-child {
    margin: 0;
    border: 1px solid #efefef;
}

.note-content {
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 1em 0 0;
    width: 260px;
    float: left;
}
.note-content .fa-chevron-down, .note-content .fa-chevron-up {
    color: #dedede;
    font-size: 2em;
    padding: 0.2em 0 0 0;
    min-width: 400px;
    text-align: left;
    cursor: pointer;
}

.note-content-body {
    white-space: pre;
}

.note-edit {
    width: 100%;
    float: left;
}

.note-info {
    background-color: #fff;
    box-sizing: border-box;
    padding: 0;
    margin: 0.5em 1.5em 1.5em 0;
    min-width: 200px;
    font-size: 0.8em;
    float: left;
}

.note-info .fa-bolt {
    color: #efefef;
    font-size: 2em;
}

.note-info a {
    text-decoration: none;
}

.edit {
    background-color: #fff;
    box-sizing: border-box;
    min-width: 80px;
    margin-bottom: 0.5em;
    float: left;
}

.button {
    border: none;
    color: #777;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    margin: 0;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.edit .button {
     background: #fff;
     border-radius: 5px;
     font-size: 1.2em;
     width: 45px;
     margin-left: 0;
     margin-right: 1em;
 }
.edit .button .fa {
    padding: 0 0.5em 0 0;
}

.filters .button {
    background: #fff;
    border-radius: 3px;
    margin: 0.5em;
    height: 30px;
}
.filters-aside .button {
    float: right;
    margin-right: 1.25em;
    width: 90% !important;
}
.filters-content .button {
    min-width: 90%;
}
.filters .button .fa {
    padding: 0 0.2em 0 0;
    font-size: 1.2em;
 }
.filters .button.active {
    outline: 0;
}
}
.create .button {
    background: #fff;
    border-radius: 3px;
    margin: 0.5em;
    height: 45px;
    font-size: 1em;
    min-width: 200px;
}
.editor-field .button {
    background: #fff;
    border-radius: 5px;
    margin: 0.5em;
    height: 45px;
    font-size: 1em;
    width: 100%;
    text-align: center;
}

.editor-field .button.reset{
    width: 90px;

}

.editor-field .button.finished_button{
     border-radius: 5px;
     font-size: 1.4em;
     width: 35px;
     height: 35px;
     border: 1px solid #ccc;
     box-shadow: none;
     padding: 0;
     margin: 0;
 }

.editor-field p {
    margin: 1em 0 1em 0.2em;
    font-size: 1.2em;
}

.footer {
    background: #efefef;
    padding: 1em;
}
.row {
    display: -webkit-box;  /* OLD: Chrome <=20, iOS <=6, Safari <=6 */
    display: -moz-box;     /* OLD: Firefox <=21 */
    display: -ms-flexbox;  /* TWEENER: IE 10 */
    display: -webkit-flex; /* NEW: Chrome 21-28 */
    display: flex;         /* NEW (Spec): Chrome >=29,
                            Firefox >=22, IE >=11 */
}

.invisible {
    opacity: 0.25;
    filter: alpha(opacity=25); /* For IE8 and earlier */
    cursor: default;
}

input[type="text"], textarea, select {
    padding: 0.5em 1em;
    margin: 0.5em 1em 0 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    float: right;
    font-size: 1em;
    min-width: 226px;
}
textarea {
    font-size: 1.2em;
}

input[type="checkbox"] {
    margin: 0 0.7em 0 0.1em;
}

.editor-field input[type="text"], .editor-field textarea {
    float: left;
    width: 90%;
}

.editor-label h2 {
    font-size: 1em;
    font-weight: normal;
}

option {
    font-style: italic;
}

#note-save .editor-label, #note-delete .editor-label {
    display: none;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    color: #ffffff;
}

/* media queries */

@media only screen and (min-width: 480px) {
    #ic-label  {
        display: block;
    }
    .header .icons {
        min-width: 250px;
    }
    #label-style {
         display: block;
    }
}

@media only screen and (min-width: 900px) {
    .header .icons .fa-pencil-square-o, .header .icons .fa-sort-alpha-asc, .header .icons .fa-cog {
        font-size: 2.4em;
        padding: 0.3em 0 0 0.2em;
    }
    .editor-field {
        width: 80%;
    }
    .editor-field .button {
        width: 200px;
    }
    #note-save .editor-label, #note-delete .editor-label {
        display: block;
    }
    .note-content {
        width: 40%;
    }
    .note-edit {
        width: 60%;
    }
    .edit .button {
        margin-left: 1em;
        margin-right: 0;
    }
    .date, .editor-label {
        width: 20%;
    }
}

@media only screen and (min-width: 1280px) {
    .note-content {
        width: 60%;
    }
    .note-edit {
        width: 40%;
        float: right;
        max-width: 400px;
    }
    .filters-aside   {
        min-width: 250px;
        width: 40%;
    }
    .filters-content {
        width: 60%;
    }
    .filters-content .button {
        min-width: 180px;
    }
    .filters-aside .button {
        width: 100px !important;
    }
}




