/* Grundlayout */

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    color: #555555;
}

p, h1, h2, h3 {
    margin-top: 0.5em;
}

header,
main,
aside,
footer {
    display: block; /* ältere Browser */
}

.header {
    background-color: #C20000;
    height: 60px;
}
.header h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
    color: #fff;
    display: block;
    margin: 0 0 0 0.5em;
    padding: 1em 0 0 0;
}

.note h1 {
    font-size: 1.2em;
    color: #C20000;
    display: block;
    margin: 0;
    padding: 1em 0 0 0;
}

.filters {
    background-color: #efefef;
    padding-bottom: 0.2em;
    /* height: 45px; */
}
.filters-content {
    box-sizing: border-box;
    padding: 0;
    width: 70%;
    float: left;
}
.filters-content p {
    color: #555;
    font-size: 1.2em;
    margin: 0.5em 0 0 0.5em;
}
.filters-aside {
    box-sizing: border-box;
    width: 30%;
    min-width: 200px;
    float: right;
}

header .row:nth-child(2) {
    margin-top: 0.5em;
    padding: 0.5em 0 1em 0;
}
header .row:nth-child(3) {
    padding: 0.5em 0;
}
header img, header svg {
    width: 136px; /* 147px; */
    height: 44px; /* 48px; */
    margin: 8px;
}

.header .logo  {
    float: left;
    width: 60%;
}

.header .icons  {
    float: right;
    width: 38%;
}

.header .icons .ic-label  {
    color: #fff;
    font-size: 1.4em;
    padding: 0.8em 0.8em 0 0;
    float: right;
    display: none;
}

.header .icons .fa-pencil-square-o, .header .icons .fa-sort-alpha-asc, .header .icons .fa-cog {
    color: #fff;
    font-size: 2.4em;
    padding: 0.2em 0 0 0.5em;
    float: right;
    cursor: pointer;
}

svg#logo path, header img.svg path  {
    fill: #fff;
}
svg#logo path:nth-child(1), header img.svg path:nth-child(1)  {
    /* fill: #eeff66; */
    fill: rgba(58, 0, 0, 0.86);
}

.content {
    background-color: #fff;
}
.date {
    background-color: #fff;
    box-sizing: border-box;
    padding: 1em;
    width: 20%;
}
.date p:first-child {
    font-weight: 600;
}
.date .finished-date {
    margin-left:1em;
}
.date .urgent {
    color: orangered;
}
.note {
    background-color: #fff;
    box-sizing: border-box;
    padding: 1em;
    margin: 0.2em 0;
    width: 80%;
}
.note-body {
    margin: 0.4em 0;
    border: 2px solid #efefef;
 }
.note-body:hover {
    border: 2px solid #C20000;
}
.note-body:first-child {
    margin-top: 0.4em;
}
.note-body:last-child {
    margin-bottom: 0.4em;
}
.note-content {
    background-color: #fff;
    box-sizing: border-box;
    padding: 0;
    float: left;
}
.note-content .fa-chevron-down {
    color: #dedede;
    font-size: 2em;
    padding: 0.2em 0 0 0;
    min-width: 400px;
    text-align: left;
}
.note-info {
     background-color: #fff;
     box-sizing: border-box;
     padding: 0;
     margin: 0 1.5em 0 0;
     /* width: 10%; */
     min-width: 200px;
     float: right;
}
.note-info .fa-bolt {
    color: #C20000;
    font-size: 2.5em;
}

.edit {
    background-color: #fff;
    box-sizing: border-box;
    width: 20%;
    min-width: 80px;
    float: right;
}

.button {
    border: none;
    color: #555;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    margin: 0;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.edit .button {
     background: #fff;
     border-radius: 5px;
     font-size: 1.5em;
     width: 100%;
 }
.edit .button .fa {
    padding: 0 0.5em 0 0;
}
.filters .button {
    background: #fff;
    border-radius: 3px;
    margin: 0.5em;
    height: 30px;
}
.filters-aside .button {
    float: right;
    margin-right: 1.25em;
    width: 100px !important;
}.filters-aside  {
     min-width: 250px;
 }
.filters-content .button {
    min-width: 200px;
}
.filters .button .fa {
    padding: 0 0.2em 0 0;
    font-size: 1.2em;
 }
.filters .button.active {
    background: #C20000;
    color: #fff;
}
.create .button {
    background: #fff;
    border-radius: 3px;
    margin: 0.5em;
    height: 45px;
    font-size: 1em;
    min-width: 200px;
}

.footer {
    background: #efefef;
    padding: 1em;
}
.row {
    display: -webkit-box;  /* OLD: Chrome <=20, iOS <=6,
                            Safari <=6 */
    display: -moz-box;     /* OLD: Firefox <=21 */
    display: -ms-flexbox;  /* TWEENER: IE 10 */
    display: -webkit-flex; /* NEW: Chrome 21-28 */
    display: flex;         /* NEW (Spec): Chrome >=29,
                            Firefox >=22, IE >=11 */
}

input[type="text"], select {
    padding: 0.5em 1em;
    margin: 0.5em 1em 0 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    float: right;
    font-size: 1em;
    min-width: 226px;
}

input[type="checkbox"] {
    margin: 0 0.7em 0 0.1em;
}

option {
    background: rgba(172, 0, 0, 0.22);
    font-style: italic; }
/* select { background: #C20000; font-style: italic; } */